<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>How it works</h1>
    </div>
    <ol>
      <li>Set url <a href="#">http://bongotest.herokuapp.com/notifications/callback</a> as Callback URL in Partner Tools</li>
      <li>Create an Order, wait one minute, refresh page.</li>
      <li>See the notification in Listing Notifications Table.</li>
    </ol>
  </div>
  <div class="col-md-12">
    <div class="page-header">
      <h1>Listing Notifications</h1>
    </div>
    <div class="alert alert-success" role="alert">
      <strong>Notifications Received:</strong> <%= Notification.count %>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Created</th>
          <th>Status</th>
          <th>Order/Product Id</th>
          <th>Partner Key</th>
          <th>Server IP</th>
          <th>Token</th>
          <th>body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @notifications.each do |notification| %>
        <tr class = "order-notification" data-oid = <%= notification.order_id %> >
          <td><%= distance_of_time_in_words notification.created_at, Time.now%> ago</td>
          <td><%= notification.status %></td>
          <td><%= notification.order_id %></td>
          <td><%= notification.partner_key %></td>
          <td><%= notification.ip %></td>
          <td><%= notification.token %></td>
          <td><%= notification.order %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
